<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


    /* Basic styling for the navigation bar */
    .navbar {
        overflow: hidden;
        background-color: #333; /* Dark grey background */
        font-family: 'Roboto', sans-serif; /* Custom Font */
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Subtle Shadow */
    }

    /* Style for the unique calligraphy text */
    .calligraphy {
        float: left;
        color: #f1c40f; /* Gold color for distinctiveness */
        font-family: 'Montserrat'; /* Calligraphy font */
        padding: 10px 14px 0px 14px;
        font-size: 20px; /* Slightly larger font size */
    }

    /* Style the links inside the navigation bar */
    .navbar a.item {
        float: left;
        display: block;
        color: white; /* White text */
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        position: relative; /* Positioning for the underline */
        transition: color 0.3s; /* Smooth color transition */
    }

    /* Underline effect on hover */
    .navbar a.item:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white; /* Underline color */
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    /* Initial state of underline */
    .navbar a.item::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white; /* Underline color */
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
    }

    /* Active/current link */
    .navbar a.active {
        background-color: #f1f1f1; /* Light grey for active link */
        color: black;
    }
</style>

<div class="navbar">
    <a class="calligraphy" href="/">Alf3doK1ng</a>
    <a class="item" href="/">Home</a>
    <a class="item" href="/resume">Resume</a>
    <a class="item" href="/courses">Courses</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var navItems = document.querySelectorAll('.navbar .item');
        var path = window.location.pathname;
        if (path !== '/' && path.endsWith('/')) {
        // Remove the last character (slash) from the path
            path = path.slice(0, -1);
        }

        navItems.forEach(item => {

            if (item.getAttribute('href') === path) {
                item.classList.add('active');
            }
        });
    });
</script>